nodered_config.json
[
    {
        "id": "310d8a4d72ef4192",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7665c19fdeaba3d2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1cbf5e8d47230cb8",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "7665c19fdeaba3d2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "42c1300ca8929c56",
        "type": "ui_group",
        "name": "Robot Control",
        "tab": "7665c19fdeaba3d2",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "4e7ad4799933e692",
        "type": "ui_group",
        "name": "Live Monitoring",
        "tab": "7665c19fdeaba3d2",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "a93359d5502fa592",
        "type": "inject",
        "z": "310d8a4d72ef4192",
        "name": "Poll Sensor Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2c11dcbfd175f04d"
            ]
        ]
    },
    {
        "id": "2c11dcbfd175f04d",
        "type": "http request",
        "z": "310d8a4d72ef4192",
        "name": "Get Sensor Data",
        "method": "GET",
        "ret": "obj",
        "url": "http://127.0.0.1:5000/sensor-data",
        "tls": "",
        "x": 310,
        "y": 40,
        "wires": [
            [
                "a608df925db27951"
            ]
        ]
    },
    {
        "id": "a608df925db27951",
        "type": "json",
        "z": "310d8a4d72ef4192",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "522b7d9577bfd070",
                "8c899cc585f74894",
                "3c9eea5cb01daaaf"
            ]
        ]
    },
    {
        "id": "522b7d9577bfd070",
        "type": "ui_text",
        "z": "310d8a4d72ef4192",
        "group": "1cbf5e8d47230cb8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "IR Sensor Status",
        "label": "IR Status:",
        "format": "{{msg.payload.ir_status}}",
        "layout": "row-spread",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "8c899cc585f74894",
        "type": "ui_text",
        "z": "310d8a4d72ef4192",
        "group": "1cbf5e8d47230cb8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Ultrasonic Distance",
        "label": "Distance (cm):",
        "format": "{{msg.payload.ultrasonic_distance}}",
        "layout": "row-spread",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c9eea5cb01daaaf",
        "type": "ui_text",
        "z": "310d8a4d72ef4192",
        "group": "1cbf5e8d47230cb8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Soil Moisture",
        "label": "Soil Moisture (%):",
        "format": "{{msg.payload.soil_moisture}}",
        "layout": "row-spread",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d64600c3bd3a861",
        "type": "ui_gauge",
        "z": "310d8a4d72ef4192",
        "group": "1cbf5e8d47230cb8",
        "order": 4,
        "width": 6,
        "height": 4,
        "name": "Moisture Gauge",
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{msg.payload.soil_moisture}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e0a0e346460b20a",
        "type": "ui_template",
        "z": "310d8a4d72ef4192",
        "group": "4e7ad4799933e692",
        "name": "ESP32-CAM",
        "order": 1,
        "width": 12,
        "height": 10,
        "format": "<iframe \n    src=\"http://192.168.33.10\" \n    width=\"100%\" \n    height=\"100%\" \n    style=\"border: none;\">\n</iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "808c162894a4b2f9",
        "type": "exec",
        "z": "310d8a4d72ef4192",
        "command": "python3 /path/to/main.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "name": "Start Robot",
        "x": 710,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "29fe1c0c6203ec5f",
        "type": "ui_button",
        "z": "310d8a4d72ef4192",
        "group": "42c1300ca8929c56",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Start Robot",
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "808c162894a4b2f9"
            ]
        ]
    },
    {
        "id": "35bba7239c07c495",
        "type": "ui_button",
        "z": "310d8a4d72ef4192",
        "group": "42c1300ca8929c56",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Stop Robot",
        "label": "Stop",
        "color": "",
        "bgcolor": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "774b63bf5a229106"
            ]
        ]
    },
    {
        "id": "774b63bf5a229106",
        "type": "exec",
        "z": "310d8a4d72ef4192",
        "command": "kill -9 $(pgrep -f /path/to/main.py)",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "name": "Stop Robot",
        "x": 710,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    }
]
